body {
    margin: 0;
    padding: 0;
    font-family: "roboto", sans-serif;
}

.login_btn {
    padding: 5px;
    background: #19B3D3;
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border: radius 2px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
}

.login_btn:hover {
    background: #0D9dBB;
}