* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 20%;
}

.banner {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.banner img {
    width: 100%;
    height: 600px;
}

.heading {
    color: rgb(51, 255, 0);
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    text-shadow: 5PX 5px 10px #000000;
}

.banner {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.image img {
    width: 100%;
    height: 230px;
}

.headinglogin {
    color: rgb(0, 0, 0);
    position: absolute;
    top: 0.5%;
    width: 99.8%;
    text-align: right;
    font-size: rem;
}

.login_btn {
    width: 75;
    height: 25;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    color: white;
    border: 0;
    border-radius: 15px;
}

button:hover {
    color: rgb(255, 247, 247);
    background-color: yellow;
}