                body {
                margin: 0;
                padding: 0;
                font-family: sans-serif;
                background-color: white;
                background-size: cover;
                background-position: center;
            }
            
            @media small screen and (width:10px) {
                .sign-up-form {
                    width: 350px;
                    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
                    background-color: white;
                    padding: 20px;
                    margin: 5% auto 0;
                    text-align: center;
                }
                .sign-up-form h1 {
                    color: #00bfee;
                    margin-bottom: 30px;
                }
                .input-box {
                    border-radius: 20px;
                    padding: 10px;
                    margin: 10px 0;
                    width: 100%;
                    border: 1px solid #999;
                    outline: none;
                }
                button {
                    color: #fff;
                    width: 100%;
                    padding: 10px;
                    border-radius: 20px;
                    font-size: 15px;
                    margin: 10px o;
                    border: none;
                    outline: none;
                    cursor: pointer;
                }
                .signup-btn {
                    background-color: rgb(2, 183, 255);
                }
                .google-btn {
                    background-color: rgb(66, 49, 218);
                    margin: 10px;
                }
                .facebook-btn {
                    background-color: rgb(66, 49, 218);
                    margin: 10px;
                }
                .twitter-btn {
                    background-color: rgb(66, 49, 218);
                    margin: 10px;
                }